<br><br><br>
<h1>Add Product</h1>


<div class="col-md-3"></div>


<div class="row">


  <div class="col-md-3">
    <div class="form-group">
      <label for="">Name</label>
      <input [(ngModel)]="name" type="text" class="form-control">
    </div>
  </div>

</div>

</div>

<div class="col-md-3"></div>

<div class="row">

  <div class="col-md-3">
    <div class="form-group">
      <label for="">Description</label>
      <input [(ngModel)]="description" type="text" class="form-control">
    </div>
  </div>


  <div class="col-md-3">
    <div class="form-group">
      <label for="">Manufacturer</label>
      <input [(ngModel)]="manufacturer" type="text" class="form-control">

    </div>
  </div>

</div>

<div class="col-md-3"></div>



<div class="col-md-3"></div>





<div class="col-md-3"></div>
<div class="row">
  <div class="col-md-3">

    <div class="form-group">
      <label for="">Category</label>
      <select [(ngModel)]="categoryid" class="form-control">
        <option *ngFor="let c of cat" [value]="c.id">{{c.title}}</option>

      </select>
    </div>
  </div>
</div>




<div class="col-md-3"></div>
<div class="row">
 
    <div class="col-md-3">
        <div class="form-group">
          <label for="">Description</label>
          <textarea [(ngModel)]="description" class="form-control" rows="4"></textarea>
        </div>
      </div>
  
</div>


<div class="col-md-3"></div>

<div class="row">
  <div class="col-md-3">
    <button (click)="addProduct()" class="btn btn-success">Add</button>
    <a style="margin-left: 10px;" routerLink="/login/dashboard/product" class="btn btn-danger">Cancel</a>
  </div>
</div>

